<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- logback 级别排序为: TRACE < DEBUG < INFO < WARN < ERROR, 默认级别为DEBUG -->

    <property name="log.path" value="logs"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 典型的日志pattern -->
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="debugLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/debugLog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/debugLog.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 保留 5天数据, 默认无限-->
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss},%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/logback.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/logback.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 保留 10天数据, 默认无限-->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 使用独立的appender, 不继承Root的appender -->
    <!--<logger name="cn.com.magicwifi.boot" level="DEBUG"/>-->
    <logger name="cn.com.magicwifi.framework" level="ERROR"/>
    <logger name="cn.com.magicwifi.rpc" level="ERROR"/>

    <logger name="debugLog" level="INFO" additivity="false">
        <appender-ref ref="debugLog"/>
    </logger>

    <!-- root -->
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>
