
/** toast 弹框消息提示 **/
.web_alert {position: fixed;z-index: 99;text-align: center;display: none;border: 1px solid #ccc;  display: inline-block;
  background-color: #000;  color: #fff;  padding: 0.277rem;  width: 80%;  max-width: 14.705rem;  border-radius: 0.177rem;
  opacity: 0.7;  font-size: 0.444rem;  line-height: 0.75rem; word-break: break-word; word-wrap: break-word;}
.auto{margin: auto}
